asgiref
Django
djangorestframework
pillow
sqlparse
typing_extensions
django-cors-headers
grok
langchain_community
langchain_groq=
sentence-transformers
numpy
PyPDF2
python-dotenv
faiss-cpu
whitenoise
psycopg2-binary
