
/* Sections */ 
.sections {
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 2rem; 
}

.card {
    width: 20%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 0.8rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card .icon {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.card h3 {
    margin-bottom: 1rem;
    color: #4c3d7a;
}

.card p {
    color: #c5c5c5; 
} 